@using Microsoft.AspNetCore.Identity
@model Article
@{
    //var actionName = ViewContext.RouteData.Values["action"].ToString();

    //if (actionName == "ArticleContent")
    //{
    //    actionName = "_ContentLayout";
    //}

    //ViewData["Title"] = "Game Inspector";
    List<HitViewModel> liste = TempData["MostViewed"] as List<HitViewModel> ?? new List<HitViewModel>();
    var modelHits = liste.FirstOrDefault(x=>x.Title == Model.Title);
}
<!doctype html>
<html class="no-js" lang="zxx">


<body>

    <div id="main-wrapper">
        <!--Page Banner Area Start-->
        <div class="page-banner-area" style="background-image: url(/img/@Model.CoverPhotoPath); background-size:cover;background-repeat: no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content text-center">
                            <a class="df-btn" href="#">Buy now</a>
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <i><em>@modelHits?.Hits kez okundu</em></i>
        </div>
        <!--Page Banner Area End-->
        <div class="games-details-area section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-xs-45" style="background:rgba(0,0,0, 0.7)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-12">
                                <div class="game-image-gallery-wrap">
                                    <div class="game-image-large">
                                        @foreach (var item in Model.ContentPhotosPaths.Split(','))
                                        {
                                            <div class="game-image img-full">
                                                <img src="/img/@item" width="850" height="375" alt="">
                                            </div>
                                        }
                                    </div>
                                    <div class="game-image-thumbs">
                                        @foreach (var item in Model.ContentPhotosPaths.Split(','))
                                        {
                                            <div class="sm-image">
                                                <img src="~/img/@item" width="248" height="176" alt="product image thumb">
                                            </div>
                                        }
                                    </div>
                                    <div class="game-description mb-35">
                                        <h3 style="color:#AB966F;">the witchrer 3 reloded</h3>
                                        <p><strong>Need for Sped</strong> rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally tances occur in which toil and pain can procure him some great pleasure pleasure rationally encounter sequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain itsuse it is pain, but because occasionally circumstances occur in which toil and pain can procure </p>
                                        <p>Rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally tances occur in which toil and pain can procure him some great pleasure pleasure rationally encounte</p>

                                        @if (!string.IsNullOrEmpty(Model.VideoPath))
                                        {
                                            <h1 style="color:#AB966F;">Tam Çözüm/TANİTİM</h1>
                                            <!--Single Video Popup Start-->
                                            <iframe width="850" height="450" src="@Model.VideoPath" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <!--Single Video Popup End-->
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <blockquote class="blockquote mr-70 mt-10 mb-20" style="background: rgba(96,96,96, 0.7)">
                                    <p>Rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because  nally tances occur in which toil and pain can procure </p>
                                </blockquote>
                                @*<div class="timelaine-wrapper mb-30">
                                        <div class="single-timeline pb-30">
                                            <h4>the story behiend the game</h4>
                                            <p>Rationally encounter consequences that are extremely painful. Nor again is there anyone oves or pursues or desires to obtain pain of itself, because it is pain, but because sionally tances occur in which toil and pain can procure him some great pleasure pleasure </p>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="ratting-wrap mb-40">
                                    <h3>ratings</h3>
                                    <div class="rating-area">
                                        <div class="total-rating">
                                            <h2>4.82</h2>
                                            <span>(4.8 out of 5)</span>
                                        </div>
                                        <div class="rating-review">
                                            <div class="single-rating">
                                                <div class="rating-star">
                                                    <span>5</span>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div class="progress">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                                    </div>
                                                </div>
                                                <div class="rating-count">
                                                    <span>980</span>
                                                </div>
                                            </div>
                                            <div class="single-rating">
                                                <div class="rating-star">
                                                    <span>4</span>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div class="progress">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                                    </div>
                                                </div>
                                                <div class="rating-count">
                                                    <span>280</span>
                                                </div>
                                            </div>
                                            <div class="single-rating">
                                                <div class="rating-star">
                                                    <span>3</span>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div class="progress">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                                    </div>
                                                </div>
                                                <div class="rating-count">
                                                    <span>89</span>
                                                </div>
                                            </div>
                                            <div class="single-rating">
                                                <div class="rating-star">
                                                    <span>2</span>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div class="progress">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                                    </div>
                                                </div>
                                                <div class="rating-count">
                                                    <span>25</span>
                                                </div>
                                            </div>
                                            <div class="single-rating">
                                                <div class="rating-star">
                                                    <span>1</span>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div class="progress">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                                    </div>
                                                </div>
                                                <div class="rating-count">
                                                    <span>25</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="review-wrap">
                                    <h3 style="color:#FFFFFF">Yorumlar(@Model.Comments.Count)</h3>
                                    <!--Single Review Start-->

                                    @foreach (var item in Model.Comments)
                                    {
                                        <div class="single-review mb-30" style="background: rgba(96,96,96, 0.7)">
                                            <h4>@item.CommentTitle</h4>

                                            <p>@item.CommentContent</p>
                                            <div class="review-name-action">
                                                
                                                <ul>
                                                    <li><a style="color:#FF8000" href="#">@item.Author.FirstName @item.Author.LastName</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                    @*@foreach (var item in ViewBag.GetComments)
                                        {
                                            <div class="single-review mb-30">
                                                <h4>Best action game play ever</h4>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                                <p>@item.CommentContent</p>
                                                <div class="review-name-action">
                                                    <a href="#">@item.Author.FirstName @item.Author.LastName</a>
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-thumbs-o-up"></i>425</a></li>
                                                        <li><a href="#"><i class="fa fa-thumbs-o-down"></i>65</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }*@

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <h3 style="color:#FFFFFF">Yorum Ekle</h3>
                                        <form method="post" class="comment-form">

                                            <div class="row">
                                                <div class="col-4 mb-10">
                                                    <input type="text" name="CommentTitle" id="CommentTitle" placeholder="Yorum Başlığı" />
                                                </div>
                                                <div class="col-12 mb-30">
                                                    <textarea name="CommentContent" id="CommentContent" placeholder="Yorum İçeriği"></textarea>
                                                </div>

                                                <div class="col-12">
                                                    <input type="submit" asp-action="ArticleContent" asp-controller="Home" value="Gönder">
                                                </div>

                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <a asp-area="Identity" asp-route-returnUrl="@Context.Request.Path.Value" asp-page="/Account/Login">Yorum yapmak için giriş yapmalısınız.</a>
                                    }
                                    <!--Single Review End-->
                                    <div class="reply-btn">
                                        <a href="#">view more <i class="icofont-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-2 sticky-top">
                            <partial name="_RightPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Games Details Area End-->
        <!--Blog Area End-->

    </div>

</body>


<!-- Mirrored from demo.hasthemes.com/gilbard-preview/gilbard/single-blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Feb 2021 14:35:23 GMT -->
</html>