@{ 
    LoginViewModel Model = new LoginViewModel();
    Model.ReturnUrl = Context.Request.Path.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home 02 || Gilbard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="~/lib/assets/images/favicon.ico" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/qanto.css">
    <link rel="stylesheet" href="~/lib/assets/css/bauhaus93.css">
    <link rel="stylesheet" href="~/lib/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/plugins.css">
    <link rel="stylesheet" href="~/lib/assets/css/helper.css">
    <link rel="stylesheet" href="~/lib/assets/css/style.css">
    <!-- Modernizr JS -->
    <script src="~/lib/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script>
        var pageSize = 6;
        var pageIndex = 0;
        let itemCount = 1
        let catId = 0;
        var setCatId = async function (id) {
            catId = id;
            pageIndex = 0;
            itemCount = 1;
            $("#scrollPage").html("")
            await GetData()
        }
    </script>


</head>
<body style=" background:rgba(0,0,0, 0.7);
      font-size: 14px;
      color: #fff;
      background: url( /lib/assets/images/game/ds3-bg.jpg) no-repeat center top fixed;
      background-size: 100% 100%;">

    <!--Header section start-->
    <header class="header header-static bg-black header-sticky">
        <div class="default-header menu-right">
            <div class="container container-1520">
                <div class="row">

                    <!--Logo start-->
                    <div class="col-12 col-md-3 col-lg-3 order-md-1 order-lg-1 mt-20 mb-20">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index"><h2 style="color:#FFFFFF">ⒼⒶⓂⒺ ⒾⓃⓈⓅⒺⒸⓉⓄⓇ</h2></a>
                        </div>
                    </div>
                    <!--Logo end-->
                    <!--Menu start-->
                    <div class="col-lg-6 col-12 order-md-3 order-lg-2 d-flex justify-content-center">
                        <nav class="main-menu menu-style-2">
                            <ul>
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                                </li>
                                <li>
                                    <a href="forum.html">Forum</a>
                                </li>
                                <li><a href="contact.html">Hakkımızda</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--Menu end-->
                    <!--Header Right Wrap-->
                    <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-3">
                        <div class="header-right-wrap">
                            <ul>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a asp-area="Identity" asp-page="/Account/Logout" data-toggle="modal" data-target="#exampleModal">ÇIKIŞ YAP</a>
                                    </li>

                                }
                                else
                                {
                                    <li><a asp-area="Identity" asp-page="/Account/Register">KAYIT OL</a></li>
                                    <li class="nav-item dropdown">
                                        <a id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GİRİŞ YAP</a>
                                        <div class="dropdown-menu p-3 bg-dark text-white" style="width: 300%; border-radius:10px;">
                                            <form class="form-horizontal" method="post" asp-area="Identity" asp-page="/Account/Login" accept-charset="UTF-8">
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <div class="form-group">
                                                    <label asp-for="@Model.Email"></label>
                                                    <input asp-for="@Model.Email" class="form-control" />
                                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@Model.Password"></label>
                                                    <input asp-for="@Model.Password" class="form-control" />
                                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label style="font-family: Arial; " asp-for="@Model.RememberMe">
                                                            <input asp-for="@Model.RememberMe" />
                                                            Beni Hatırla
                                                        </label>
                                                    </div>
                                                </div>
                                                <a id="forgot-password" style="font-size:small; padding:0; display: inline-block" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot your password?</a>
                                                <button type="submit" class="btn btn-primary float-right">Giriş</button>
                                            </form>
                                        </div>
                                    </li>
                                }

                                @if (User.IsInRole("admin"))
                                {
                                    <li><a asp-area="Admin" asp-controller="Events" asp-action="Index">ADMIN</a></li>
                                }
                                <li class="header-search">
                                    <a class="header-search-toggle" href="#"><i class="icofont-search-2"></i></a>
                                    <div class="header-search-form">
                                        <form action="#">
                                            <input type="text" placeholder="Type and hit enter">
                                            <button><i class="icofont-search"></i></button>
                                        </form>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!--Header Right Wrap-->

                    </div>

                    <!--Mobile Menu start-->
                    <div class="row">
                        <div class="col-12 d-flex d-lg-none">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                    <!--Mobile Menu end-->

                </div>
            </div>
    </header>
    <!--Header section end-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="row">
                            <div class="col-8 text-left">
                                <p class="text-black-50">Güvenli çıkış yapmak için tıklayınız.</p>
                            </div>
                            <div class="col-4">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="btn btn-primary">Güvenli Çıkış</button>
                                </form>
                            </div>
                        </div>

                    }
                    else
                    {<p>Modal body text goes here.</p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <!--Footer section start-->
    <footer class="footer-section style-2 section bg-theme" style="background-image: url(/lib/assets/images/bg/footer-bg.jpg); ">

        <!--Footer Top start-->
        <div class="footer-top section pt-175 pt-lg-150 pt-md-125 pt-sm-110 pt-xs-40 pb-80 pb-lg-70 pb-md-60 pb-sm-15 pb-xs-40">
            <div class="container container-1520">
                <div class="row justify-content-lg-between">
                    
                    <!--Footer Widget start-->
                    <div class="col-xl-3 col-lg-2 col-md-3">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/lib/assets/images/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->
                    <!--Footer Widget start-->
                    <div class="col-xl-6 col-lg-6 col-md-9">
                        <div class="footer-widget">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="#">forums</a></li>
                                        <li><a href="#">demo</a></li>
                                        <li><a href="#">support</a></li>
                                        <li><a href="#">terms & conditions</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->
                    <!--Footer Widget start-->
                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="footer-widget">
                            <div class="footer-social">
                                <span>follow us:</span>
                                <ul>
                                    <li><a href="https://www.facebook.com"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="https://www.twitter.com"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="https://www.youtube.com"><i class="icofont-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->

                </div>
            </div>
        </div>
        <!--Footer Top end-->
        <!--Footer bottom start-->
        <div class="footer-bottom border-color section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center">
                            <p>Copyright &copy;2018 <a href="#">Gilbard</a>. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer bottom end-->



    </footer>
    <!--Footer section end-->
    <script src="~/lib/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            $("#navbarDropdownMenuLink").trigger("click")
        })
    </script>
    <script src="~/lib/assets/js/popper.min.js"></script>
    <script src="~/lib/assets/js/bootstrap.min.js"></script>
    <script src="~/lib/assets/js/plugins.js"></script>
    <script src="~/lib/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
