@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery
@model List<Article>
@{ ViewBag.Title = "Articles";
    var tokenName = Antiforgery.GetTokens(Context).FormFieldName;
    var tokenValue = Antiforgery.GetTokens(Context).RequestToken; }

<div class="card">
    @*<div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
        </div>*@
    <!-- /.card-header -->
    <div class="card-body">
        <a id="linkNew" asp-controller="Events" asp-action="New" class="btn btn-secondary"><i class="fas fa-plus"></i>New</a>
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cover Photo</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Character Content</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>
            @if (string.IsNullOrEmpty(item.CoverPhotoPath))
            {
<i class="no-image"></i> }
else
{
<img src="~/img/@item.CoverPhotoPath" alt="@item.Title" width="100" />}
        </td>
        <td>@item.Title</td>
        <td>@item.Content</td>
        <td>@item.CharacterContent</td>
        <td>@item.Time</td>
        <td>
            
            <form class="mb-2">
                <a class="btn btn-warning" asp-action="Edit"  asp-route-id="@item.Id">Edit</a>
                @*<input type="hidden" id="idEdit" value="@item.Id" name="idEdit" />*@
                @*<input class="btn btn-warning" type="submit" value="Edit" />*@
            </form>
            <form asp-action="Delete">
                <input type="hidden" id="id" value="@item.Id" name="id" />
                <input class="btn btn-danger" type="submit" value="Delete" />
            </form>
        </td>
    </tr>
}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
